[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
	branch = v7
[submodule "lib/zuniswapv2"]
	path = lib/zuniswapv2
	url = git@github.com:Jeiwan/zuniswapv2.git
[submodule "lib/fx-portal"]
	path = lib/fx-portal
	url = https://github.com/0xPolygon/fx-portal
