[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/unifap-v2"]
	path = lib/unifap-v2
	url = git@github.com:lonerapier/unifap-v2.git
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
	branch = v7
