name: Workflow
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    continue-on-error: False
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn
      - name: Run ESLint
        run: ./node_modules/.bin/eslint . --ext .js,.jsx,.ts,.tsx
      - name: Run solhint
        run: ./node_modules/.bin/solhint contracts/*.sol contracts/interfaces/*.sol
      - name: Run tests
        run: ./node_modules/.bin/hardhat test
      - name: Run script(s)
        run: ./node_modules/.bin/hardhat run scripts/deploy.js

  docker:
    runs-on: ubuntu-latest
    needs: build
    if:
      contains('
        refs/heads/main
      ', github.ref)

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: valory
          password: ${{ secrets.ACCESS_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        if: github.ref == 'refs/heads/main'
        with:
          context: .
          push: true
          tags: valory/${{ github.event.repository.name }}:main # note need to get the base ref to force for the branch

